/*@actionPanelColor: #A7D6F1;*/
/*@actionPanelColor: #477D9C;*/
#tabPanel .dvButtonRibbon {
  display: inline-block;
  margin-top: 5px;
}
#tabPanel .dvButtonRibbon img {
  width: 15px;
  margin-right: 2px;
  top: -2px;
  position: relative;
}
#tabPanel .dvButtonRibbon a {
  /*color: #A8EAFF;*/
  color: #c8fcff;
  font-size: 15px;
  font-family: arial, Georgia, serif;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  border: 1px solid #c8fcff;
  border-radius: 5px;
  padding: 1px 7px;
  background-color: #5A96B1;
}
#tabPanel .dvButtonRibbon a:focus,
#tabPanel .dvButtonRibbon a:hover {
  text-decoration: none;
  color: #ffffff;
  border-color: #ffffff;
}
#tabPanel .dvContent {
  display: table;
  width: 100%;
  padding-left: 0px;
  padding-top: 5px;
  /*background-color: #6CAEE6;*/
}
#tabPanel .dvContent .dvTabs {
  display: table-cell;
  width: 70%;
  border-bottom: 1px solid #c8ced6;
}
#tabPanel .dvContent .dvTabs #ulTabs {
  margin-bottom: -1px;
  border: none;
}
#tabPanel .dvContent .dvTabs li {
  margin-left: 5px;
  margin-bottom: 0px;
}
#tabPanel .dvContent .dvTabs li a {
  color: #2E71B9;
  font-family: arial, serif;
  padding: 5px 10px;
  background-color: #EAF6FF;
  margin-right: 0px;
  border: 1px solid #c8ced6;
  border-bottom: none;
}
#tabPanel .dvContent .dvTabs li.active {
  margin-bottom: -1px;
}
#tabPanel .dvContent .dvTabs li.active a {
  background-color: #70a3c7;
  color: #c8fcff;
  border-bottom: none;
}
#tabPanel .dvContent .dvUserInfo {
  display: table-cell;
  width: 30%;
  text-align: right;
  vertical-align: middle;
  padding-right: 25px;
  border-bottom: 1px solid #c8ced6;
}
#tabPanel .dvContent .dvUserInfo span {
  margin-left: 5px;
}
#tabPanel .dvContent .dvUserInfo a {
  color: #337ab7;
}
#tabPanel #actionPanel {
  background-color: #70a3c7;
  display: table;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #c8ced6;
}
#tabPanel #actionPanel #dvTabContent {
  /*background-color: #6097CD;*/
  /*padding: 10px 0px;*/
  float: left;
  width: 70%;
}
#tabPanel #actionPanel #dvTabContent .dvButtonRibbon {
  margin-left: 15px;
}
#tabPanel #progressBar {
  display: none;
}
#tabPanel #progressBar span {
  color: #E4E2E2;
}
#tabPanel #progressBar img {
  width: 114px;
  height: 15px;
}
#tabPanel #languageChoosePanel {
  float: right;
  width: 30%;
  text-align: right;
  padding: 0px 10px 0px 0px;
}
#tabPanel #languageChoosePanel select {
  height: 25px;
  padding: 0px;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid #c8ced6;
}
#tabPanel #languageChoosePanel #selLanguage {
  width: 80px;
}
#tabPanel #languageChoosePanel .dvButtonRibbon {
  margin-left: 2px;
}
#tabPanel #languageChoosePanel .dvVersion {
  display: inline-block;
  margin: 0px 3px;
}
#tabPanel #languageChoosePanel .dvVersion #removeVersion {
  display: inline-block;
  cursor: pointer;
}
#tabPanel #languageChoosePanel .dvVersion #removeVersion img {
  width: 16px;
}
#tabPanel #languageChoosePanel #selVersion {
  width: 35px;
}
