<link rel="stylesheet" type="text/css" href="js/components/TabPanel/TabPanel.css">

<div id="tabPanel">
  <div class="dvContent">
    <div class="dvTabs">
      <ul id="ulTabs" class="nav nav-tabs"></ul>
    </div>
    <div class="dvUserInfo">
      <a id="logoutLink" href="index.html#/Views/start">Logout</a>
      <span>|</span>
      <span id="userName" >User</span>
    </div>
  </div>
  <div id="actionPanel">
    <div id="dvTabContent"><a href="index.html#/Views/start" id="btn_save" action="saveItem" class="button-ribbon">Save</a><a href="index.html#/Views/start" id="btn_listUsers" action="listUsers" class="button-ribbon">List Users</a>
    </div>

    <div id="languageChoosePanel">
      <div id="progressBar" >
        <span>Processing:</span>
        <img src="/SiteEngine/Client/images/progressBar.gif">
      </div>

      <select class="form-control" id="selLanguage">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="da">Danish</option>
      </select>
      <div class="dvVersion" style="display: none;">
        <select class="form-control" id="selVersion"></select>
        <div id="removeVersion"><img id="imgRemoveVersion" src="/SiteEngine/Client/images/remove.png" ng-click="clickAddField($event)">
        </div>
      </div>
      <button id="btnNewVersion" type="button" class="btn btnForm">New version</button>
    </div>
  </div>
</div>

<script type="text/template" id='liTabs'> 
    <%
      // repeat items 
      _.each(panelItems,function(item){
    %>
          <li id="<%= item.id %>" <% if (item.active) { %> class="active" <% } %> >
            <!--<a data-toggle="tab" href="/Views/start" aria-expanded="false"><%= item.name %></a>-->
            <a data-toggle="tab" href="" aria-expanded="false"><%= item.name %></a>
          </li>
    <%
        });
    %>         
</script>
