.bx-wrapper img {
  width: 100%;
  height: 250px;
}
.bx-viewport {
  left: 0px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: left;
  background: #333333;
  background: rgba(0, 0, 0, 0.25);
}
.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  padding-left: 100px;
}
