<!--<script data-main="configRequire" src="/SiteEngine/Client/js/lib/require.js"></script>-->
<script src="/SiteEngine/Site/layouts/Iwith.org/mainLayout.js"></script>


<link href="/SiteEngine/Site/layouts/Iwith.org/mainLayout.css" rel="stylesheet">
<link href="/SiteEngine/Site/layouts/Iwith.org/Header/Header.css" rel="stylesheet">
<link href="/SiteEngine/Site/layouts/Iwith.org/Carousel/Carousel.css" rel="stylesheet">
<link href="/SiteEngine/Site/layouts/Iwith.org/News/News.css" rel="stylesheet">
<link href="/SiteEngine/Site/layouts/Iwith.org/Services/Services.css" rel="stylesheet">
<link href="/SiteEngine/Site/layouts/Iwith.org/Footer/Footer.css" rel="stylesheet">

<body>
  <div class="dvTestLayout" >
    <span>Testing Layout</span>
  </div>
  <!---------->
  <!--Header-->
  <!---------->
  <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Header/Header.html'" onload="includeLoad()"></div>


  <!---------->
  <!--Carousel-->
  <!---------->
  <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Carousel/Carousel.html'"></div>


  <div class="dvMiddle dvInternal">
    <div class="dvMiddleInternal">

      <!---------->
      <!--Services-->
      <!---------->
      <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Services/Services.html'"></div>


      <!---------->
      <!--News-->
      <!---------->
      <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/News/News.html'"></div>


      <div class="dvSocialSection dvSection">
        <table>
          <tbody>
            <tr>
              <td>
                <div class="dvBlog">
                  <div class="dvHeader">
                    <a href=""><span>Our Blog</span></a>
                  </div>
                  <div class="dvListArticles">
                    <div class="dvArticle">
                      <a href=""><span>The Splitfy crowdfunding platform, also for NGOs</span></a>
                    </div>
                    <div class="dvArticle">
                      <a href=""><span>Mhealth, mobile technology to improve the world of health.</span></a>
                    </div>
                  </div>
                  <div class="dvHeader">
                    <a href=""><span>How to... (abcore tips)</span></a>
                  </div>
                  <div class="dvListArticles">
                    <div class="dvArticle">
                      <a href=""><span>Gallery, the New Abcore CadГ­ Photo Service</span></a>
                    </div>
                    <div class="dvArticle">
                      <a href=""><span>Greater capacity and higher speed for the Abcore CadГ­ platform's servers</span></a>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="dvGoogle">
                  <div class="dvHeader">
                    <a href=""><span>Google+</span></a>
                  </div>
                  <!--<iframe src="http://widgetsplus.com:8080/5323.htm" width="100%" height="265" style="padding:0; background:none; margin:0; overflow:hidden;" frameborder="0"></iframe>-->
                </div>
              </td>
              <td>
                <div class="dvFacebook">
                  <div class="dvHeader">
                    <a href=""><span>Facebook</span></a>
                  </div>
                  <!--<iframe id="fb-like-box" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fiwithorg&amp;width=292&amp;height=300&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:300px;" allowtransparency="true"></iframe>-->
                </div>
              </td>
              <td>
                <div class="dvHeader">
                  <a href=""><span>Twitter</span></a>
                </div>
                <!--<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; height: 300px; padding: 0px; border: none; max-width: 520px; min-width: 180px; min-height: 200px; margin-top: 0px; margin-bottom: 0px;" data-widget-id="519415357602160640" data-user-id="9245142" title="Twitter Timeline"></iframe>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>

  <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Footer/Footer.html'"></div>

</body>