.dvFormPanel {
  z-index: 100001;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.dvFormPanel .dvContentContainer {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  /*position: relative;*/
  /*top: 30%;*/
}
.dvFormPanel .dvContentForm {
  min-height: 90px;
  min-width: 200px;
  box-shadow: 0 0 15px #3D3D3E;
  border: 1px solid #05A5DE;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
  position: relative;
}
.dvFormPanel .dvHeaderForm {
  display: block;
  height: 40px;
  text-align: right;
  background-color: #E5E5E5;
  padding: 2px 12px 7px 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.dvFormPanel .dvHeaderForm .dvTitle {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  font: bold 15px arial, sans-serif;
  color: #403C3C;
}
.dvFormPanel .dvHeaderForm .dvButtons {
  float: right;
  margin-top: 3px;
}
.dvFormPanel .dvHeaderForm .dvButtons img {
  width: 14px;
  cursor: pointer;
}
.dvFormPanel .dvIncludePart {
  max-width: 1300px;
  box-sizing: border-box;
  background-color: #E5E5E5;
  padding: 15px;
  padding-top: 0px;
  overflow: visible;
}
.dvFormPanel .dvButtonsForm {
  overflow: auto;
  bottom: 0px;
  width: 100%;
  border-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px;
  background-color: #C5C5C5;
  text-align: right;
  border-top: 2px solid #A69999;
}
.dvFormPanel .dvButtonsForm label {
  float: left;
  margin-top: 7px;
  color: red;
}
.dvFormPanel .dvButtonsForm button {
  float: left;
  margin-left: 5px;
}
