<link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/AssignTemplateCtrl/AssignTemplateCtrl.css">

<div class="dvAssignTemplate" class="ng-scope">
  
  <div class="dvLeftArea dvArea" ></div>
  <div class="dvMiddle" style="
    text-align: center;
    padding-top: 10px;
">
    <div>
      <img id="imgRight" class="imgAssignTemplateArrow" src="./images/rightArrow.png">
    </div>
    <div>
      <img id="imgLeft" class="imgAssignTemplateArrow" src="./images/leftArrow.png">
    </div>
</div>
  <div class="dvRightArea  dvArea">
    <select multiple="" class="form-control selectInsertOptions" id="selItems" >
<!--        <option>1</option>
        <option>2</option>-->
    </select>    
  </div>
    
</div>  

