.dvAssignTemplate {
  /*width: 800px;*/
  display: none;
  width: 100%;
  height: 200px;
  background-color: white;
}
.dvAssignTemplate .dvArea {
  width: 45%;
  overflow: auto;
  height: 100%;
  border: 2px solid #C2A9A9;
}
.dvAssignTemplate .dvLeftArea {
 float: left; 
}
.dvAssignTemplate .dvMiddle {
  width: 6%;
  height: 100%;
  float: left;
  margin-left: 2%;
  border: 2px solid red;
}
.dvAssignTemplate .dvRightArea {
  float: right;
}

.dvAssignTemplate .imgAssignTemplateArrow {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.dvAssignTemplate .selectInsertOptions {
  height: 100% !important;
  overflow-y: hidden;
  padding: 0;  
  border-radius: 0px;
}
.dvAssignTemplate .selectInsertOptions option{
  padding-left: 5px;
}

.dvDisabled {
  background-color: #EEEEEE;
}