
<link rel="stylesheet" type="text/css" href="Views/forms/modalForm/modalForm.css">

<div ng-show="isShowModalForm" id="modalFormPanelBackground" class="dvModalForm-background ng-scope"></div>
  <div ng-show="isShowModalForm" id="modalFormPanel" class="dvModalForm dvFormPanel ng-scope">

  <div class="dvContentContainer">
    <div class="dvContentForm">

      <div class="dvHeaderForm">
        <div class="dvTitle">
          <span>Title</span>
        </div>
        <div class="dvButtons">
          <img src="./images/closeWindow.png" ng-click="clickCancel($event)">
        </div>
      </div>
      <div class="dvIncludePart">
        <div class="dvFormPathContent" ng-include="formPath" onload=" loadFormCtrlFinished() "></div>
        <div class="dvCtrlContent"></div>
      </div>
      <div class="dvButtonsForm">
        <label ng-show="isError">{{errorMessage}}</label>
        <div style="float:right;">
          <button type="button" class="btn btnForm btnActive " ng-click="clickOk($event)">OK</button>
          <button type="button" class="btn btnForm " ng-click="clickCancel($event)">CANCEL</button>
        </div>
      </div>

    </div>
  </div>
</div>  


