<link href="/SiteEngine/Site/layouts/Iwith.org/mainLayout.css" rel="stylesheet">

<script type="text/javascript" src="/SiteEngine/Site/layouts/Iwith.org/mainLayout.js"></script>

<a href="javascript:;" id="scrollToTop" style="display: inline; opacity: 0;"><img src="/SiteEngine/Site/images/totop.png" alt="totop"></a>

<div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Header/Header.html'"></div>  

<div id="middlePart" class="ng-scope">
  <div class="dvInternal">
          
    <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/ContentArea/ContentArea.html'"></div>  

  </div>

</div>

<div ng-include="'/SiteEngine/Site/layouts/Iwith.org/Footer/Footer.html'"></div>  
