.dvTop {
  
}

.dvTop .tbMiddle {
  
}
.dvTop .tbMiddle td {
  padding: 16px 0;  
}

.dvTop .dvMenu {
  font-family: sans-serif;
  font-size: 21px;
  color: #006E75;
}
.dvTop .dvMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}
.dvTop .dvMenu li {
  padding: 0px 20px;
  display: inline;
  border-left: 1px solid #006E75;
}
.dvTop .dvMenu li:first-child {
  padding-left: 0;
  border-left: none;
}

.dvTop .tbMiddle .inputSearch {
  font-size: 14px;
  border: 1px solid #006E75;
  border-radius: 10px;
  padding: 5px 0px;
  padding-left: 8px;
  width: 85px;  
}
.dvTop .tbMiddle .inputSearch:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  outline-width: 0;
}

.dvTop .tbMiddle .dvLanguageMenu {
  padding: 0px 15px;
  display: table;  
  position: relative;
}

.dvTop .tbMiddle .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";  
}

.bx-wrapper img {
  width: 100%;
  height: 250px;
}
.bx-viewport {
  left: 0px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: left;
  background: #333333;
  background: rgba(0, 0, 0, 0.25);
}
.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  padding-left: 100px;
}

.dvLinkSection .tbLinks {
  width: 100%;
  /* margin: auto; */
  border-bottom: 2px solid #DDDDDD;
  text-align:center;
}
  .dvLinkSection .tbLinks td {
    vertical-align: top;
    padding-bottom: 60px;
    max-width: 350px;
  }
  .dvLinkSection .dvLinkImg img {
    width: 180px;
    height:140px;
  }
.dvLinkSection .dvLinkTitle {
  padding-top: 5px;
  padding-bottom: 15px;
}
  .dvLinkSection .dvLinkTitle a {
    color: #006E75;
    font-size: 25px;
  }
  .dvLinkSection .dvLinkInfo {
    color: #695C5C;
    font-size: 16px;
  }

.dvNewsSection {
  padding-top: 80px;
}
.dvNewsSection .dvHeader {
  color: #006E75;
  font-size: 25px;
  padding-bottom: 25px;
}

.dvNewsSection table {
  width: 100%;
}
  .dvNewsSection td {
    vertical-align: top;
  }
.dvNewsSection .tdNews {
  width:70%;
}
  .dvNewsSection .tdNews .dvNews {
    padding-bottom: 15px;
  }
  .dvNewsSection .tdNews .dvNews td {
    vertical-align: top;
  }
  .dvNewsSection .tdNews .dvImg {
    display: inline-block;
    padding-right: 15px;
  }
  .dvNewsSection .tdNews .dvNewsContent {
    max-width: 600px;
  }
  .dvNewsSection .tdNews .dvTitle a {
    color: #EE8234;
    font-size: 20px;
  }
  .dvNewsSection .tdNews .dvContent {
    font-size: 17px;
  }
.dvNewsSection .tdEvent {
  width:30%;
  padding-left: 100px;
}

  .dvNewsSection .tdEvent .dvEvent {
    padding-bottom: 20px;
  }