

.bx-wrapper img {
  width: 100%;
  height: 250px;
}
.bx-viewport {
  left: 0px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  text-align: left;
  background: #333333;
  background: rgba(0, 0, 0, 0.25);
}
.carousel-caption h1, .carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  padding-left: 100px;
}

.dvInternal {
  width: 70%;
  margin: auto;
}

.dvMiddle {
  margin: auto;
}
  .dvMiddle .dvSection {
    border-bottom: 2px solid #DDDDDD;
    padding-top: 60px;
    padding-bottom: 60px;
  }
.dvMiddle .dvHeader {
  font-size: 25px;
  padding: 15px 0px;
}
  .dvMiddle .dvHeader a {
    color: #006E75;
  }

.dvLinksSection {  
}
.dvMiddle .dvLinksSection.dvSection {
  padding-top: 0px;
}
.dvLinksSection .tbLinks {
  width: 100%;
  /* margin: auto; */
  text-align:center;
}
  .dvLinksSection .tbLinks td {
    vertical-align: top;
    max-width: 350px;
  }
  .dvLinksSection .dvLinkImg img {
    width: 180px;
    height:140px;
  }
.dvLinksSection .dvLinkTitle {
  padding-top: 5px;
  padding-bottom: 15px;
}
  .dvLinksSection .dvLinkTitle a {
    color: #006E75;
    font-size: 25px;
  }
  .dvLinksSection .dvLinkInfo {
    color: #695C5C;
    font-size: 16px;
  }

.dvNewsSection {
  padding-top: 80px;
}

.dvNewsSection table {
  width: 100%;
}
  .dvNewsSection td {
    vertical-align: top;
  }
.dvNewsSection .tdNews {
  width:70%;
}
  .dvNewsSection .tdNews .dvNews {
    padding-bottom: 15px;
  }
  .dvNewsSection .tdNews .dvNews td {
    vertical-align: top;
  }
  .dvNewsSection .tdNews .dvImg {
    display: inline-block;
    padding-right: 15px;
  }
  .dvNewsSection .tdNews .dvNewsContent {
    max-width: 600px;
  }
  .dvNewsSection .tdNews .dvTitle a {
    color: #EE8234;
    font-size: 20px;
  }
  .dvNewsSection .tdNews .dvContent {
    font-size: 17px;
  }
.dvNewsSection .tdEvent {
  width:30%;
  padding-left: 100px;
}

  .dvNewsSection .tdEvent .dvEvent {
    padding-bottom: 20px;
  }

.dvSocialSection {
}
  .dvSocialSection td {
    vertical-align: top;
    width: 23%;
    padding-right: 2%;
  }

.dvBlog {
}
  .dvBlog .dvArticle {    
    padding: 5px 0px;
    font-size: 17px;
  }
  .dvBlog .dvArticle a {
    color: #EE8234;
  }

.dvFooter {
  width: 100%;
  background-color: #006E75;
}
  .dvFooter a {
    color: #CCCCCC;
  }

.dvText {
  color: #fff;
}
.dvLinksArea {
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #196364;
}
.dvLinksArea img {
  width: 100px;
}
.dvLinksArea table {
  width: 100%;
  }
  .dvLinksArea table td {
    vertical-align:top;
  }
.dvLinksArea a {  
}
.dvLinksArea .tdCollaborate {
  text-align:center;
  font-size: 25px;
  padding: 0px 50px;
}
.dvLinksArea .tdLinks {
  font-size: 19px;
}
  .dvLinksArea .tdLinks div {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 30px;
  }
.dvLinksArea .tdContact {
  color: #fff;
  width: 29%;  
  vertical-align: middle;
  padding-left: 1%;
  border-left: 1px solid #196364;
}

.dvPrivacy {
  padding-top: 60px;
}
  .dvPrivacy .dvPrivacyText {
    text-align: right;
  }
  .dvPrivacy .dvFooterInfo {
    margin-top: 20px;
  }