body {
  height: 100%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;  
}
        
input:focus {
    outline: 0;
}

#scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 400px;
  z-index: 9999;
  right: 5px;
  opacity: 0.4;
  cursor: pointer;  
}
#scrollToTop:hover {
  opacity: 1;
}

.dvInternal {
    width: 63%;
    display: table;
    margin: 0 auto;
}
        
#topPart {
    border-bottom: 2px solid #F3F3F3;
}
        
#topPartContent {
    width: 63%;
    min-width: 800px;
    /*background-color: aquamarine;*/
    display: table;
    margin: 0 auto;
    color: #F3F3F3;
}
        
#titleHeader {
    float: right;
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px 10px;
    color: #F08234;
}
        
#topPartImg {
    float: left;
}
        
#topPartImg img {
    width: 130px;
    height: 155px;
    margin-bottom: 1px;
}
        
#topMenu {
    float: right;
    /* width: 80%; */
    margin-top: 35px;
}
        
#topMenu #mainMenu,
#searchElem,
.dropdown {
    display: inline-block;
}
        
#topMenu #mainMenu {
    margin: 0;
    margin-right: 100px;
    position: relative;
    top: 5px;
    list-style-type: none;
    font-size: 18.4px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 20px;
}
        
#topMenu #mainMenu li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid red;
    color: #006E75;
}
        
#topMenu #mainMenu li:last-child {
    border-right: none;
}
        
#topMenu #searchElem input {
    border: 1px solid rgb(126, 157, 185);
    padding: 5px;
    width: 100px;
    border-radius: 15px;
    color: #006E75;
}
        
#topMenu .dropdown-menu > li > a {
    color: #006E75;
}
        
#topMenu .dropdown button {
    border: none;
    color: #006E75;
}
        
.dropdown .btn-default:hover,
.dropdown .btn-default:focus,
.dropdown .btn-default:active,
.dropdown .open > .dropdown-toggle.btn-default {
    background-color: transparent;
}
        
#middlePart {
  background: #fff url(http://www.iwith.org/images_2013/background-white.png) repeat;
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 70px;
}


