body {
  
}

.dvComponentForm {
  width: 100%;
  border: 2px solid #C2A9A9;
  border-radius: 3px;
}

.button-ribbon {
  display: inline-block;
  margin-left: 10px;
  border-top: 1px solid #96d1f8;
  background: -webkit-linear-gradient(top, #E8E8E8, #C7B2B2);
  background: -moz-linear-gradient(top, #c3d1d9, #d8e1e8);
  background: -ms-linear-gradient(top, #c3d1d9, #d8e1e8);
  background: -o-linear-gradient(top, #c3d1d9, #d8e1e8);
  padding: 7px 12px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #242020;
  font-size: 11px;
  font-family: arial, Georgia, serif;
  text-decoration: none;
  /* vertical-align: middle; */
}
a.button-ribbon {
  text-decoration: none;
}
.button-ribbon:hover {
  border-top-color: #82BA92;
  background: #5C5E5F;   
  color: #ccc;
}
.button-ribbon:active {
   border-top-color: #1b435e;
   background: #A5A5A5;
}
