
<link rel="stylesheet" type="text/css" href="Views/forms/userManagerForm/userManagerForm.css">

<div id="userManagerForm" class="ng-scope">

  <div id="buttonsArea">
    <button id="btnNewUser" type="button" class="btn btnForm " ng-click="newUserClick($event)">NEW USER</button>
    <button id="btnEditUser" type="button" class="btn btnForm " ng-click="editUserClick($event)">EDIT</button>
    <button id="btnRemoveUser" type="button" class="btn btnForm " ng-click="removeUserClick($event)">REMOVE</button>
  
  </div>
  
  <div id="tableArea">
  <table id="tbUsers">
    <tbody>
      <tr>
         <th>User Name</th>
         <th>Full Name</th>
         <th>Role</th>
         <th>Email</th>
         <th>Comment</th>
         <th>Language</th>
         <th>Locked</th>
       </tr>      
<!--      <tr>
        <td class="tdUserName">Jill</td>
        <td class="tdFullName">Smith</td>
        <td class="tdRole">Role</td>
        <td class="tdEmail">email@mail.ru</td>
        <td class="tdComment">Comment</td>
        <td class="tdLanguage">Language</td>
        <td class="tdLocked">Locked</td>
      </tr>-->

    </tbody>
  </table>  
  
  </div>

  <script type="text/template" id="userHeaderTemplate">
      <tr>
         <th>User Name</th>
         <th>Full Name</th>
         <th>Role</th>
         <th>Email</th>
         <th>Comment</th>
         <th>Language</th>
         <th>Locked</th>
      </tr>
  </script>

  
  <script type="text/template" id="userTemplate">

      <tr id="<%= user.id %>">
        <td class="tdUserName"><%= user.name %></td>
        <td class="tdFullName"><%= user.fullName %></td>
        <td class="tdRole"><%= user.roleName %></td>
        <td class="tdEmail"><%= user.email %></td>
        <td class="tdComment"><%= user.comment %></td>
        <td class="tdLanguage"><%= user.language %></td>
        <td class="tdLocked"><%= user.locked %></td>
      </tr>
  
  </script>
  

</div>