.dvSelectItemTree {
  display: none;
  width: 100%;
  height: 100px;
  overflow: auto;
  background-color: white;
}
.dvSelectItemTree .dvArea {
  width: 45%;
  overflow: auto;
  height: 100%;
  border: 2px solid #C2A9A9;
}
.dvSelectItemTree .dvLeftArea {
 float: left; 
}
.dvSelectItemTree .dvMiddle {
  width: 6%;
  height: 100%;
  float: left;
  margin-left: 2%;
  border: 2px solid red;
}
.dvSelectItemTree .dvRightArea {
  float: right;
}

.dvSelectItemTree .imgSelectItemTreeArrow {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.dvSelectItemTree .selectItems {
  height: 100% !important;
  /*overflow-y: hidden;*/
  overflow: auto;
  padding: 0;  
  border-radius: 0px;
}
.dvSelectItemTree .selectItems option {
  padding-left: 5px;
}

.dvDisabled {
  background-color: #EEEEEE;
}
