
<link rel="stylesheet" type="text/css" href="/SiteEngine/Client/Views/forms/notificationForm/notification.css">

<div class="dvNotificationForm" style="display: none;">
  <div class="dvContentForm">
    <table>
      <tbody>
        <tr>
          <td class="tdIcon">
            <div class="dvIcon">
              <img src="./images/notification/error.png">
            </div>
          </td>
          <td>
            <div class="dvMessage">Action was finished with error: </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>