
.dvNotificationForm {
  display: none;
  background-color: #AEE0FF;
  z-index: 1000;
  position: absolute;
  bottom: 5px;
  right: 5px; 
  border: 1px solid #6FDF6C;
  border-radius: 5px;
}
.dvNotificationForm .tdIcon {
  border-right: 1px solid white;
}

.dvNotificationForm .dvIcon {
  padding: 5px;
}
  .dvNotificationForm .dvIcon img {
    width: 36px;
    height: 36px;
  }

.dvNotificationForm .dvMessage {
  display: inline-block;
  padding: 0px 15px;
  /*width: 10px;*/
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
