.dvFormPanel {
  z-index: 100001;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  display: table;
}
.dvFormPanel .dvContentContainer {
  display: table-cell;
  margin-left: auto;
  margin-right: auto;
  /*vertical-align: middle;*/
  vertical-align: top;
  text-align: center;
  position: relative;
  top: 20%;
}
.dvFormPanel .dvContentForm {
  min-height: 90px;
  min-width: 200px;
  box-shadow: 0 0 15px #3D3D3E;
  border: 1px solid #05A5DE;
  display: inline-block;
  border-radius: 15px;
  text-align: left;
  position: relative;
}
.dvFormPanel .dvHeaderForm {
  display: block;
  height: 40px;
  text-align: right;
  background-color: #E5E5E5;
  padding: 2px 12px 7px 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.dvFormPanel .dvHeaderForm .dvTitle {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  font: bold 16px arial, sans-serif;
  color: #407fab;
}
.dvFormPanel .dvHeaderForm .dvButtons {
  float: right;
  margin-top: 3px;
}
.dvFormPanel .dvHeaderForm .dvButtons img {
  width: 14px;
  cursor: pointer;
}
.dvFormPanel .dvIncludePart {
  max-width: 1300px;
  box-sizing: border-box;
  background-color: #E5E5E5;
  padding: 15px;
  padding-top: 0px;
  overflow: visible;
}
.dvFormPanel .dvButtonsForm {
  overflow: auto;
  bottom: 0px;
  width: 100%;
  border-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 10px 15px;
  background-color: #C5C5C5;
  text-align: right;
  border-top: 2px solid #A69999;
}
.dvFormPanel .dvButtonsForm label {
  float: left;
  margin-top: 7px;
  color: red;
}
.dvFormPanel .dvButtonsForm button {
  float: left;
  margin-left: 5px;
}
.btnForm {
  border: 1px solid #05B0D8;
  background: linear-gradient(to bottom, #ECE0E0 0%, #C7C7C7 100%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), 0 2px 2px -1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  font: bold 13px arial, helvetica, sans-serif;
}
.btnActive {
  background: linear-gradient(to bottom, #ECE0E0 0%, #A5A5A5 100%);
}
.dvPanelFormContainer {
  position: absolute;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 1px;
  z-index: 1000000;
}
.dvPanelFormContainer .dvContentForm {
  min-height: 40px;
  width: 100%;
}
.dvPanelFormContainer .dvContentForm .dvHeaderForm {
  display: block;
  text-align: right;
  padding-top: 3px;
  padding-right: 7px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.dvPanelFormContainer .dvContentForm .dvHeaderForm .dvButtons img {
  width: 20px;
}
.dvPanelFormContainer .dvContentForm .dvIncludePart {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.dvPanelFormContainer .dvContentForm .dvButtonsForm {
  border: none;
  padding: 5px 11px;
}