
<link rel="stylesheet" type="text/css" href="/SiteEngine/Client/Views/panels/panelForm/panelForm.css">

<script type="text/template" id="panelFormTemplate">

  <div id="panelForm" class="dvPanelFormContainer dvFormPanel" style="display:none;">
    <div class="dvContentForm">

      <div class="dvHeaderForm">
        <div class="dvTitle">
          <span>Title</span>
        </div>
        <div class="dvButtons">
          <img class="imgClose" src="./images/closeWindow.png" >
        </div>
        <!--<img id="imgClose" src="./images/closeWindow.png">-->
      </div>
      <div class="dvIncludePart">

      </div>

    </div>
  </div>

</script>
