
<link rel="stylesheet" type="text/css" href="Views/panels/panelForm/panelForm.css">

<script type="text/template" id="panelFormTemplate">

  <div id="panelForm" class="dvPanelFormContainer">
    <div class="dvContentForm" >
      
      <div class="dvButtonsFunctional">
        <img id="imgClose" src="./images/closeWindow.png" >
      </div>      
      <div class="dvIncludePart">
        
        <!--<div ng-include="panel_path" onload="loadDivInclude()"></div>-->
      </div>

    </div>
  </div>

</script>
