<link rel="stylesheet" type="text/css" href="Views/forms/newUserForm/newUserForm.css">

<div id="newUserForm" class="ng-scope">
    
  <div id="titleForm" >
    <label>Create a New User</label>    
  </div>
  
  <div class="dvAllFields">
        
    <div id="userName" class="dvField" style=""> 
          <div class="dvLabel">
            <label>User Name:*</label>
          </div>
          <div class="dvInput" style="">
            <input type="text" class="form-control ">
          </div>  
    </div>        

        
    <div id="fullName" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Full Name:*</label>
          </div>
          <div class="dvInput" style="">
            <input type="text" class="form-control ">
          </div>  
    </div>

        
    
<div id="role" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Role:</label>
          </div>
  <div class="dvInput" style="">
    <select class="form-control" id="selRole"></select>
    
  </div>  
    </div>
    <div id="email" class="dvField" style=""> 
      <div class="dvLabel">
        <label>Email:*</label>
      </div>
      <div class="dvInput" style="">
        <input type="text" class="form-control ">
      </div>  
    </div>
<div id="password" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Password:*</label>
          </div>
          <div class="dvInput" style="">
            <input type="password" class="form-control ">
          </div>  
    </div>
<div id="confirmPassword" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Confirm Password:*</label>
          </div>
          <div class="dvInput" style="">
            <input type="password" class="form-control ">
          </div>  
    </div>

<div id="comment" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Comment:</label>
          </div>
          <div class="dvInput" style="">
            <input type="text" class="form-control ">
          </div>  
    </div>
<div id="language" class="dvField" style=""> 
          <div class="dvLabel">
            <label>Language:</label>
          </div>
          <div class="dvInput" style="">
            <input type="text" class="form-control ">
          </div>  
    </div>        

  </div>
  
</div>