<link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/LayoutRenderingCtrl/LayoutRenderingCtrl.css">

<div class="dvLayoutForm"  class="ng-scope">
  <div class="dvFormContent" >
    <div class="dvLayoutChooseArea">
      <div class="dvHeader">Layout:</div>
      <div class="dvControl">        
        <div class="dropdown">
          <button class="btnLayout btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dvLayout">
              <span class="spLayout"></span>
            </div>
            <div class="dvCaret">
              <span class="caret"></span>
            </div>
            
          </button>
          <div class="dvTreeLayout" style="display: none;"></div>
        </div>        
      </div>
    </div>
  </div>
</div>
