
<div class="dvFooter">
  <div class="dvFooterInternal dvInternal">
    <div class="dvLinksArea">
      <table>
        <tbody>
          <tr>
            <td class="tdCollaborate">
              <div>
                <img src="/SiteEngine/Site/images/telReceiver.png">
              </div>
              <div class="">
                <a href=""><span>Collaborate!</span></a>
              </div>
            </td>
            <td class="tdLinks">
              <div><a href=""><span>Internet consulting</span></a></div>
              <div><a href=""><span>Working online</span></a></div>
              <div><a href=""><span>Training</span></a></div>
              <div><a href=""><span>Google Grants management</span></a></div>
              <div><a href=""><span>Email Marketing</span></a></div>
              <div><a href=""><span>Web</span></a></div>
              <div><a href=""><span>Fundraising</span></a></div>
              <div><a href=""><span>Social networks</span></a></div>
              <div><a href=""><span>Collaborate</span></a></div>
            </td>
            <td class="tdContact">
              <div>
                <div class="dvLink"><a href=""><span>Contact</span></a></div>
                <div class="dvText"><span>C/ Cucurulla nº 9, 2º 2ª A <br>
                                          08002 Barcelona<br>
                                          Catalonia - Spain</span></div>
                <div class="dvLink">
                  <a href=""><span>info@iwith.org</span></a>
                </div>
                <div class="dvText"><span>Phone: +34 93 181 36 69</span></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="dvPrivacy">
      <div class="dvPrivacyText"><a href=""><span>Privacy</span></a></div>
      <div class="dvFooterInfo dvText"><span>* We are helping the third and fourth sector –NGOs, associations, social entrepreneurs and socially responsible companies– to make the most of the opportunities that the Internet affords us in creating a world we would like to live in.</span>
        <a href=""><span>Powered by iWith.org</span></a></div>
    </div>
  </div>
</div>
  
