.dvFooter {
  width: 100%;
  background-color: #006E75;
}
  .dvFooter a {
    color: #CCCCCC;
  }

.dvText {
  color: #fff;
}
.dvLinksArea {
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #196364;
}
.dvLinksArea img {
  width: 100px;
}
.dvLinksArea table {
  width: 100%;
  }
  .dvLinksArea table td {
    vertical-align:top;
  }
.dvLinksArea a {  
}
.dvLinksArea .tdCollaborate {
  text-align:center;
  font-size: 25px;
  padding: 0px 50px;
}
  .dvLinksArea .tdCollaborate img {
    width: 100px;
  }
.dvLinksArea .tdLinks {
  font-size: 19px;
}
  .dvLinksArea .tdLinks div {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 30px;
  }
.dvLinksArea .tdContact {
  color: #fff;
  width: 29%;  
  vertical-align: middle;
  padding-left: 1%;
  border-left: 1px solid #196364;
}

.dvPrivacy {
  padding-top: 60px;
}
  .dvPrivacy .dvPrivacyText {
    text-align: right;
  }
  .dvPrivacy .dvFooterInfo {
    margin-top: 20px;
  }