<!DOCTYPE html>
<html  style="height: 100%;" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>  
    
    <script src="/SiteEngine/Client/js/lib/require.js"></script>    
    <script src="/SiteEngine/Client/js/lib/angular/angular.js"></script>

    <link rel="stylesheet" type="text/css" href="/SiteEngine/Client/layouts/LayoutWrapper.css">
    <link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/ComponentMgr.css">

  </head>
    
<body style="margin: 0;height: 100%;">

  <div id="loadingApp" class="dvLoading">
      <div class="dvLoadingContent" >
        <div class="dvElem">
          <img src="/SiteEngine/Client/images/loading.gif">
        </div>
      </div>
  </div>

  <div ng-app="app" ng-controller="ctrlApp" style="height: 100%;">
    <div class="dvEditPanel">
      <table>
        <tr>
          <td class="tdInfo"><span>Edit mode</span></td>
          <td>
            <div class="dvActions">
              <a href="" id="btn_save" action="saveItem" class="button-ribbon" onclick="function(){alert('test')};">Save</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div id="wrapperContent" style="display: block; margin: 0 auto;height: 100%;" >

      <!--<div id="loadingElem" style="display: table-cell;vertical-align: middle;">      
        <img src="/SiteEngine/Client/images/loading.gif" style="width: 48px;height: 48px;">
      </div>-->

    </div>
  </div>
  
<!--    <script src="/SiteEngine/Client/js/lib/require.js"></script>    
    <script src="/SiteEngine/Client/js/lib/angular/angular.js"></script>-->

<script>

  var _$scope;
  var _$compile;
  var _$http;
  var app = angular.module("app", []);
  app.controller("ctrlApp", ["$scope", "$compile", "$http", "$rootScope", function ($scope, $compile, $http, $rootScope) {
    _$scope = $scope;
    _$compile = $compile;
    _$http = $http;

    _$scope.wrapperReady = function () {

    };    

    //_$scope.$watch('headerTitle.Text', function (v1, v2, v3, v4, v5) {  
    //  //if (scope.htmlElement !== undefined) {
    //  //  //$timeout(eval(callback), 1);  
    //  //}  

    //  var i =0;
    //});


  }]);

  //app.directive('myDirective', function() {
  //  return function(scope, element) {
  //    element.bind('change', function() {
  //      alert('change on ' + element);
  //    });
  //  };
  //});

  app.directive('myDirective', function ($timeout) {  
    return function (scope, element, attrs) {  
      scope.$watch(attrs.myDirective, function (callback) {  
  
        if (scope.$last === undefined) {  
          scope.$watch('htmlElement', function () {  
            if (scope.htmlElement !== undefined) {  
              $timeout(eval(callback), 1);  
            }  
          });  
        }  
  
        if (scope.$last) {  
          eval(callback)();  
        }  
      });  
    }  
  });  


  //app.directive('myDirective', function () {
  //  return function (scope, element, attrs) {
  //    scope.$watch(attrs.myDirective, function (callback) {
        
  //      if (scope.$last === undefined) {  
  //        scope.$watch('htmlElement', function () {  
  //          if (scope.htmlElement !== undefined) {
  //            //$timeout(eval(callback), 1);  
  //          }  
  //        });
  //      }  
  //      if (scope.$last) {  
  //        //eval(callback)();  
  //      }  

  //    });


  //  }
  //});

  


  require.config({
    paths: {
      jquery: "/SiteEngine/Client/js/lib/jquery-1.11.3",
      jqueryUi: "/SiteEngine/Client/js/lib/jquery-ui/jquery-ui",
      underscore: "/SiteEngine/Client/js/lib/underscore",
      bootstrap: "/SiteEngine/Client/js/lib/bootstrap/bootstrap",
      angular: "/SiteEngine/Client/js/lib/angular/angular",
      angularRoute: "/SiteEngine/Client/js/lib/angular-route/angular-route",

      AppConfig: "/SiteEngine/Common/appConfig",
      //CONST: "/SiteEngine/Client/js/const",
      CONST: "/SiteEngine/Common/Const",
      application: "/SiteEngine/Client/js/application",
      notification: "/SiteEngine/Client/Views/forms/notificationForm/notification",
      CommonTypes: "/SiteEngine/Client/js/Common/CommonTypes",
      Utils: "/SiteEngine/Client/js/Common/Utils",

      SiteInitialization: "/SiteEngine/Site/js/siteInitialization",
    },

    "shim": {
        angular: { "exports": "angular" },
        angularRoute: ["angular"],

        bootstrap: ["jquery"],
        jquery: {
          exports: "jQuery"
        },
        jqueryUi: ["jquery"],
        application: ["jquery"],
        notification: ["jquery"],
      },
    map: {
      "*": {
        "css": "/SiteEngine/Client/js/lib/require-css/css.js",
      }
    },
    
  });

  require(["jquery", "underscore", "application", "CONST", "Utils", "SiteInitialization", "bootstrap", "css!bootstrap"], function ($, _, application, CONST, Utils, SiteInitialization) {

    //var path = "main/test2";
    //var path = "main";
    //var serverAddress = "http://localhost:8082/" + path;

    //Utils.setLoadingApplication(true);

    var serverAddress = CONST.SERVER.PATH() + (window.location.pathname + window.location.search);

    application.initialize(_$scope, _$http);
    application.loadItems(function () {
      var itemsHash = application.getItemsHash();
      SiteInitialization.bindItems(_$scope, itemsHash);
    });

    $(".button-ribbon").click(function (event) {
      var $curTarget = $(event.currentTarget);
      var action = $curTarget.attr("action");
      //if (action && action != "")
        //$(self).trigger(EVENT_CLICK_BUTTON, action);
    });

    function renderSite(contentSource){
      var intervalWait = setInterval(function(){
        if(SiteInitialization.isItemsBound()) {
          clearInterval(intervalWait);

          var contentFn = _$compile(contentSource);
          var content = contentFn(_$scope);
          try {
            $("#wrapperContent").html(content);

            _$scope.$apply(applyCallback);



            var isIncludeContentLoaded = false;
            setInterval(function(){
              if(isIncludeContentLoaded){
                isIncludeContentLoaded = false;
                var arBindingElems = $(".ng-binding");
                _.each(arBindingElems, function(elem){
                  var nodeName = elem.nodeName.toLowerCase();
                  if(nodeName == "span"){
                    var parent = $(elem).parent();
                    if(parent.length > 0 && 
                      (parent[0].nodeName.toLowerCase() == "div" || parent[0].nodeName.toLowerCase() == "a")){
                      parent.addClass("ngBindingHover");
                    } else
                      $(elem).addClass("ngBindingHover");                    
                  } else {
                    $(elem).addClass("ngBindingHover");
                  }
                });

              }
            }, 400);

            //$rootScope.$on('$includeContentLoaded', function(event) {
            _$scope.$on('$includeContentLoaded', function(event, a, b, c) {
              //$('#output').append('<p>' + event.targetScope.name + ' include\'s content was loaded.</p>');
              isIncludeContentLoaded = true;
            });

          } catch(ex) {
          }
        }
      }, 10);
    };

    function applyCallback(a, b, c){
      var i = 0;
    };

    // get content of the site
    var data = { action: "getContentSite" };
    $.post(serverAddress, data, function (responseData, textStatus, jqXHR) {
      if (jqXHR && jqXHR.status === 200) {
        responseData = JSON.parse(responseData);
        if (!responseData.error) {
          if (responseData.data && responseData.data.layoutItem) {
            var layoutItem = responseData.data.layoutItem;
            if (layoutItem.layoutContent) {

              var contentSource = layoutItem.layoutContent;              
              
              //
              renderSite(contentSource);
            }
          }
        } else {
          $("#wrapperContent").html(responseData.error);
        }

      } else {

      }

    });

  });

</script>

  </body>
</html>


