<!DOCTYPE html>
<html  style="height: 100%;" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title></title>  
    
    <script src="/SiteEngine/Client/js/lib/require.js"></script>    
    <script src="/SiteEngine/Client/js/lib/angular/angular.js"></script>

    <link rel="stylesheet" type="text/css" href="/SiteEngine/Client/siteRendering/SiteRenderingLayout.css">
    <link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/TabPanel/tabPanel.css">
    <link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/ComponentMgr.css">

  </head>
    
<body style="margin: 0;height: 100%;">

  <div id="loadingApp" class="dvLoading">
      <div class="dvLoadingContent" >
        <div class="dvElem">
          <img src="/SiteEngine/Client/images/loading.gif">
        </div>
      </div>
  </div>  

<div ng-app="app" ng-controller="ctrlApp" style="height: 100%;">
    <div ng-include="'/SiteEngine/Client/Views/panels/panelForm/panelForm.html'" onload="loadPanelForm()"></div>

    <div id="editCtrl" style=""><textarea name="Text1"></textarea>
      <div class="dvButtons" >
        <a href="#" id="A1" class="button-ribbon" ng-click="editItem($event)">OK</a>
        <!--<a href="#" id="A2" class="button-ribbon" ng-click="cancelEdit()">CANCEL</a>-->
      </div>
    </div>

  <!--<div class="dvEditPanel">
    <table>
      <tr>
        <td class="tdInfo"><span>Edit mode</span></td>
        <td>
          <div id="tabPanel" class="dvActions">
            <a href="" id="btn_save" action="saveItem" class="button-ribbon" ng-click="saveItem()">Save</a>

            <div id="languageChoosePanel">
              <div id="progressBar">
                <span>Processing:</span>
                <img src="/SiteEngine/Client/images/progressBar.gif">
              </div>

              <select class="form-control" id="selLanguage">
                <option value="en">English</option>
                <option value="ru">Russian</option>
                <option value="da">Danish</option>
              </select>
              <div class="dvVersion" style="display: none;">
                <select class="form-control" id="selVersion"></select>
                <div id="removeVersion">
                  <img id="imgRemoveVersion" src="/SiteEngine/Client/images/remove.png" ng-click="clickAddField($event)">
                </div>
              </div>
              <div class="dvButtonRibbon"><a href="index.html#/Views/start" id="btn_newVersion">New version</a></div>
            </div>

          </div>
        </td>
      </tr>
    </table>
  </div>-->

  <div id="tabPanel">
    <div id="actionPanel">
      <div id="dvTabContent">
        <div class="dvButtonRibbon"><a href="index.html#/Views/start" id="btn_save" action="saveItem">Save</a>
        </div>

        <div class="dvLanguage" >
          <span>Language:</span>
          <select class="form-control" id="selLanguage" >
            <option value="en">English</option>
            <option value="ru">Russian</option>
            <option value="da">Danish</option>
          </select>
        </div>
      </div>
      <div id="languageChoosePanel">
        <div id="progressBar">
          <span>Processing:</span>
          <img src="/SiteEngine/Client/images/progressBar.gif">
        </div>

        <!--<span>Language:</span>
        <select class="form-control" id="selLanguage">
          <option value="en">English</option>
          <option value="ru">Russian</option>
          <option value="da">Danish</option>
        </select>-->
        <!--<div class="dvVersion" style="display: none;">          
          <select class="form-control" id="selVersion"></select>
          <div id="removeVersion">
            <img id="imgRemoveVersion" src="/SiteEngine/Client/images/remove.png" ng-click="clickAddField($event)">
          </div>
        </div>
        <div class="dvButtonRibbon"><a href="index.html#/Views/start" id="btn_newVersion">New version</a></div>-->
      </div>
    </div>
  </div>


  <div id="wrapperContent" style="display: block; margin: 0 auto; height: 100%;">

      <!--<div id="loadingElem" style="display: table-cell;vertical-align: middle;">
        <img src="/SiteEngine/Client/images/loading.gif" style="width: 48px;height: 48px;">
      </div>-->

    </div>

    <div ng-view id="viewApp" class="dvNgView"></div>
</div>
  
<!--    <script src="/SiteEngine/Client/js/lib/require.js"></script>    
    <script src="/SiteEngine/Client/js/lib/angular/angular.js"></script>-->

<script>

  var _$scope;
  var _$compile;
  var _$http;
  var _$parse;
  var app = angular.module("app", []);


  app.controller("ctrlApp", ["$scope", "$compile", "$http", "$rootScope", "$parse", function ($scope, $compile, $http, $rootScope, $parse) {
    _$scope = $scope;
    _$compile = $compile;
    _$http = $http;
    _$parse = $parse;
  }]);

  function parseBindingElem(elem) {
    if (!elem)
      return;

    var $el = $(elem);
    if ($el.attr("bindObj"))
      return;

    try {
      var className = elem.className;
      if (className &&
          (className.indexOf("ng-binding") >= 0 || className.indexOf("ng-pristine") >= 0)) {
        
        var bindingValue;
        if ($el.val().indexOf("{{") >= 0 && $el.val().indexOf("}}") >= 0) {
          bindingValue = $el.val();
          $el.attr("ng-model", bindingValue.trim());
          $el.attr("ng-bind", bindingValue.trim());
        } else if ($el.html().indexOf("{{") >= 0 && $el.html().indexOf("}}") >= 0) {
          bindingValue = $el.html();
          $el.attr("ng-model", bindingValue.trim());
          $el.attr("ng-bind", bindingValue.trim());
        } else if ($el.attr("ng-bind")) {
          bindingValue = $el.attr("ng-bind");
        } else if ($el.attr("ng-model")) {
          bindingValue = $el.attr("ng-model");
        }

        if (bindingValue) {
          var val = bindingValue;
          val = val.replace("{{", "").replace("}}", "");
          val = val.trim('');
          if (val) {
            var arPart = val.split('.');
            if (arPart.length > 0)
              $el.attr("bindObj", arPart[0]);
            if (arPart.length > 1)
              $el.attr("bindField", arPart[1]);
            if (arPart.length > 2)
              $el.attr("bindSubField", arPart[2]);
          }
        }
      }
      if (elem.childNodes) {
        for (var i = 0; i < elem.childNodes.length; i++) {
          parseBindingElem(elem.childNodes[i]);
        }
      }
    }
    catch (ex) { }
  };
  
  function editingParse() {
    return function (scope, element, attrs) {
      if (element && element.length > 0)
        parseBindingElem(element[0]);
    }
  }

  app.directive('editing', editingParse);
  app.directive('ngRepeat', editingParse);
  app.directive('ngModel', editingParse);
  app.directive('ngBind', editingParse);
  app.directive('htmlElement', editingParse);

  require.config({
    paths: {
      jquery: "/SiteEngine/Client/js/lib/jquery-1.11.3",
      jqueryUi: "/SiteEngine/Client/js/lib/jquery-ui/jquery-ui",
      underscore: "/SiteEngine/Client/js/lib/underscore",
      bootstrap: "/SiteEngine/Client/js/lib/bootstrap/bootstrap",
      angular: "/SiteEngine/Client/js/lib/angular/angular",
      angularRoute: "/SiteEngine/Client/js/lib/angular-route/angular-route",

      AppConfig: "/SiteEngine/Common/appConfig",
      CONST: "/SiteEngine/Common/Const",
      siteRendering: "/SiteEngine/Client/siteRendering/siteRendering",
      application: "/SiteEngine/Client/js/application",
      actionCtrl: "/SiteEngine/Client/js/controllers/actionCtrl",
      notification: "/SiteEngine/Client/Views/forms/notificationForm/notification",
      CommonTypes: "/SiteEngine/Client/js/Common/CommonTypes",
      //Utils: "/SiteEngine/Client/js/Common/Utils",
      Utils: "/SiteEngine/Common/Utils",

      SiteInitialization: "/SiteEngine/Site/js/siteInitialization",
    },

    "shim": {
        angular: { "exports": "angular" },
        angularRoute: ["angular"],

        bootstrap: ["jquery"],
        jquery: {
          exports: "jQuery"
        },
        jqueryUi: ["jquery"],
        application: ["jquery"],
        notification: ["jquery"],
      },
    map: {
      "*": {
        "css": "/SiteEngine/Client/js/lib/require-css/css.js",
      }
    },
    
  });

  require(["jquery", "underscore", "application", "siteRendering", "CONST", "Utils", "SiteInitialization", "bootstrap", "css!bootstrap"],
    function ($, _, application, siteRendering, CONST, Utils, SiteInitialization) {

    //var path = "main/test2";
    //var path = "main";
    //var serverAddress = "http://localhost:8082/" + path;

    //Utils.setLoadingApplication(true);

    var serverAddress = CONST.SERVER.PATH() + (window.location.pathname + window.location.search);

    application.initialize(_$scope, _$http);
    application.loadItems(function () {
      var itemsHash = application.getItemsHash();
      SiteInitialization.bindItems(_$scope, itemsHash);
    });

    // get content of the site
    var data = { action: "getContentSite" };
    $.post(serverAddress, data, function (responseData, textStatus, jqXHR) {
      if (jqXHR && jqXHR.status === 200) {
        responseData = JSON.parse(responseData);
        if (!responseData.error) {
          if (responseData.data && responseData.data.layoutItem) {
            var layoutItem = responseData.data.layoutItem;
            if (layoutItem.layoutContent) {

              var contentSource = layoutItem.layoutContent;              
              
              //
              siteRendering.render(contentSource);
            }
          }
        } else {
          $("#wrapperContent").html(responseData.error);
        }

      } else {

      }

    });

  });

</script>

  </body>
</html>


