
<!--<div draggable id="topPart">
    <div id="topPartContent">
      <div id="topPartImg">
        <img alt="iWith.org logo" src="http://www.iwith.org//mm/image/2015/03/Logo_iWith_oficial.png">
      </div>

        <div id="titleHeader">
          Internet para proyectos que mejoran el mundo* 
        </div>
          
      <div ng-include="'/SiteEngine/Site/layouts/Iwith.org/HeaderMenu/HeaderMenu.html'"></div>

    </div>


</div>-->



<div class="dvTop">
  <div class="dvTopInternal">
    <table>
      <tbody>
        <tr>
          <td>
            <div class="dvLogo">
              <img src="/SiteEngine/Site/images/Logo_official.png">
            </div>
          </td>
          <td class="cellMiddle">
            <table class="tbMiddle">
              <tbody>
                <tr>
                  <td>
                    <div class="dvTitle">
                      <span>Internet for projects that improve the world *</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table class="tbHeaderMenu">
                      <tbody>
                        <tr>
                          <td>
                            <div class="dvMenu">
                              <ul>
                                <li>Home</li>
                                <li>Organisation</li>
                                <li>Services</li>
                                <li>News</li>
                              </ul>
                            </div>
                          </td>
                          <td class="tdSearch">
                            <div>
                              <input class="inputSearch" type="text" placeholder="Search">
                            </div>
                          </td>
                          <td class="tdLanguage">
                            <div class="dvLanguageMenu">
                              <div>
                                <span>language</span>
                              </div>
                              <div class="dvCaret">
                                <b class="caret"></b>
                              </div>
                              <ul id="languageMenu" class="dropdown-menu" style="display: none;">
                                <li><a href="">English</a></li>
                                <li><a href="">Русский</a></li>
                                <li><a href="">Ukrainian</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="dvSearch"></div>
                    <div class="dvLanguage"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<script id="templMenuItem" type="text/template">
  <li itemId="<%= id %>" templateId="<%= templateId %>"><a href="<%= pathField %>"><span><%= name %></span></a></li>
</script>

<script id="templLanguageItem" type="text/template">
  <li langCode="<%= code %>"><a href=""><span><%= displayName %></span></a></li>
</script>