.dvTop {
  width: 100%;
  display: table;
  letter-spacing: 2px;
}
  .dvTop .dvTopInternal {
    display: table-cell;
    text-align: center;
    position: relative;
  }
.dvTop .tbMiddle {
  
}
.dvTop .tbMiddle td {
  padding: 16px 0;  
}

.dvTop .dvMenu a{
  font-family: sans-serif;
  font-size: 21px;
  color: #006E75;
}
.dvTop .dvMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
}
.dvTop .dvMenu li {
  padding: 0px 20px;
  display: inline;
  border-left: 1px solid #006E75;
}
.dvTop .dvMenu li:first-child {
  padding-left: 0;
  border-left: none;
}

.dvTop .tbMiddle .inputSearch {
  font-size: 14px;
  border: 1px solid #006E75;
  border-radius: 10px;
  padding: 5px 0px;
  padding-left: 8px;
  width: 85px;  
}
.dvTop .tbMiddle .inputSearch:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  outline-width: 0;
}

.dvTop .tbMiddle .dvLanguageMenu {
  padding: 0px 15px;
  display: table;  
  position: relative;
}

.dvTop .tbMiddle .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";  
}