
<div class="dvTop">
  <div class="dvTopInternal">
    <table>
      <tbody>
        <tr>
          <td>
            <div class="dvLogo">
              <img src="/SiteEngine/Site/images/Logo_official.png">
            </div>
          </td>
          <td class="cellMiddle">
            <table class="tbMiddle">
              <tbody>
                <tr>
                  <td>
                    <div class="dvTitle">
                      <!--<span>Internet for projects that improve the world *</span>-->
                      
                      <span editing>{{ Header_HeaderTitle.Text }}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table class="tbHeaderMenu">
                      <tbody>
                        <tr>
                          <td>
                            <div class="dvMenu">
                              <ul>
                                <li ng-repeat="menuItem in HeaderMenu.children">
                                  <a editing href="{{menuItem.Path}}"><span>{{menuItem.Name}}</span></a>
                                </li>
                                <!--<li>Home</li>-->
                              </ul>
                            </div>
                          </td>
                          <td class="tdSearch">
                            <div>
                              <input class="inputSearch" type="text" placeholder="{{SearchPlaceHolder.Text}}">
                            </div>
                          </td>
                          <td class="tdLanguage">
                            <div class="dvLanguageMenu">
                              <div>
                                <span>language</span>
                              </div>
                              <div class="dvCaret">
                                <b class="caret"></b>
                              </div>
                              <ul id="languageMenu" class="dropdown-menu" style="display: none;">
                                <li editing langcode="{{languageItem.Code}}" ng-repeat="languageItem in languages.children">
                                  <a href=""><span>{{languageItem.Name}}</span></a>
                                </li>                                
                                <!--<li><a href="">English</a></li>
                                <li><a href="">Русский</a></li>
                                <li><a href="">Ukrainian</a></li>-->
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--<div class="dvSearch"></div>
                    <div class="dvLanguage"></div>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
