<link href="/SiteEngine/Site/layouts/Iwith.org/ContentArea/ContentArea.css" rel="stylesheet">

<div id="internalFirst">

  <div id="leftMenu">
    <ul style="
                            ">
      <li>Mission</li>
      <li>Collaborates</li>
      <li>Participa</li>
      <li>Contacto</li>
    </ul>
  </div>
  <div class="dvContent">
              
    <!--<sc:Placeholder ID="MainPlaceholder" runat="server" Key="main"></sc:Placeholder>-->
    <!--<sc:Sublayout ID="HeaderSL" runat="server" Path="/layouts/JS/Sublayouts/SiteStructure/Header.ascx" ></sc:Sublayout>-->
    <!--<sc:Placeholder runat="server" ID="ContentPH" Key="main_content" Parameters="ContentWrapperClass=content-wrapper photo drop-shadow clearfix"></sc:Placeholder>-->
    <!--<%@ Register Src="~/layouts/JS/Controls/HeaderMenu.ascx" TagName="HeaderMenu" TagPrefix="uc1" %>-->
    <!--<uc1:HeaderMenu ID="HeaderMenu1" runat="server" ></uc1:HeaderMenu>-->

    <div id="infoArea">
      <div id="breadCrumb">
        <span>Inicio / Organización </span>
      </div>

      <div id="menuItemContent">

      </div>

    </div>

  </div>
</div>

<div id="internalSecond">
  <div class="dvContent" >
    <div class="dvText">
      <span class="spHighlight">iWith.org </span>
      <span class="spText">Improving the World using Information Technology to Help Organizations</span>  
    </div>
  
    <div id="links"><a href="https://plus.google.com/116199766856755929830/posts" target="_blank"><img alt="Google +" src="http://www.iwith.org//images_2013/social-icons/google+.png"></a> <a href="https://www.facebook.com/iwithorg" target="_blank"><img alt="Facebook" src="http://www.iwith.org//images_2013/social-icons/facebook.png"></a> <a href="https://twitter.com/iwithorg" target="_blank"><img alt="Twitter" src="http://www.iwith.org//images_2013/social-icons/twitter.png"></a> <a href="https://www.youtube.com/user/iwithorg" target="_blank"><img alt="Youtube" src="http://www.iwith.org//images_2013/social-icons/youtube.png"></a> <a href="/rss/" target="_blank"><img alt="Rss" src="http://www.iwith.org//images_2013/social-icons/rss.png"></a> <!-- end:div:iwithblockmsg-social-box --></div>  
  </div>
</div>