<link rel="stylesheet" type="text/css" href="/SiteEngine/Client/js/components/LayoutContentCtrl/LayoutContentCtrl.css">

<div class="dvLayoutContent dvComponentForm" >

    <div class="dvEnterFields">
        <div class="dvUserAgentPath">
            <table class="">
                <tr class="dvArea">
                    <td class="tdFirst">
                      <div class="dvIcon dvAddButton"><img src="/SiteEngine/Client/images/add-icon.png" ></div>
                    </td>
                    <td class="tdSecond">
                        <span class="spTitle">User Agent:</span>
                    </td>
                    <td>
                        <input class="inUserAgent" onclick="javascript:this.select();return false">
                    </td>
                </tr>
                <tr>
                    <td class="tdFirst"></td>
                    <td class="tdSecond">
                        <span class="spTitle">Path:</span>
                    </td>
                    <td>
                      <input class="inPath" onclick="javascript:this.select();return false">
                    </td>

                </tr>
            </table>

        </div>

    </div>


    <div class="dvCurrentFields">


    </div>

</div>

<script type="text/template" id='layoutContentTemplate'> 
    <div class="dvUserAgentPath">
        <table class="">
            <tr class="trUserAgent">
                <td class="tdFirst">
                    <div class="dvIcon dvRemoveButton"><img src="/SiteEngine/Client/images/remove.png" ng-click="clickRemoveField($event)"></div>
                </td>
                <td class="tdSecond">
                    <span class="spTitle">User Agent:</span>
                </td>
                <td>
                    <span class="spUserAgentValue" onclick="javascript:this.select();return false"><%= item.userAgent %></span>
                </td>
            </tr>
            <tr>
                <td class="tdFirst"></td>
                <td class="tdSecond">
                    <span class="spTitle">Path:</span>
                </td>
                <td>
                  <span class="spPathValue" onclick="javascript:this.select();return false"><%= item.path %></span>
                </td>

            </tr>
        </table>


    </div>
        
</script>