.dvImgChangeCtrl {
  position:relative;
  display:none;
}
.dvImgChangeCtrl img {
  display:inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #51ABB5;    
  cursor: pointer;
}
.dvImgChangeCtrl a {
  font-size: 12px;
  position: absolute;
  top: 2px;
}
.dvImgChangeCtrl input {
  margin-top: 5px;
}