<link rel="stylesheet" type="text/css" href="Views/forms/insertOptionsForm/insertOptionsForm.css">

<div id="dvInsertOptions" style="width: 800px; height: 400px;/* overflow: auto; */background-color: white;" class="ng-scope">
  
  <div class="dvLeftArea dvArea" ></div>
  <div class="dvMiddle" style="
    text-align: center;
    padding-top: 10px;
">
    <div>
      <img id="imgRight" class="imgInsertOptionsArrow" src="./images/rightArrow.png">
    </div>
    <div>
      <img id="imgLeft" class="imgInsertOptionsArrow" src="./images/leftArrow.png">
    </div>
</div>
  <div class="dvRightArea  dvArea">
    <select multiple="" class="form-control selectInsertOptions" id="selItems" >
<!--        <option>1</option>
        <option>2</option>-->
    </select>    
  </div>
    
</div>