.dvLinksSection {  
}
.dvMiddle .dvLinksSection.dvSection {
  padding-top: 0px;
}
.dvLinksSection .tbLinks {
  width: 100%;
  /* margin: auto; */
  text-align:center;
}
  .dvLinksSection .tbLinks td {
    vertical-align: top;
    max-width: 350px;
  }
  .dvLinksSection .dvLinkImg img {
    width: 180px;
    height:140px;
  }
.dvLinksSection .dvLinkTitle {
  padding-top: 5px;
  padding-bottom: 15px;
}
  .dvLinksSection .dvLinkTitle a {
    color: #006E75;
    font-size: 25px;
  }
  .dvLinksSection .dvLinkInfo {
    color: #695C5C;
    font-size: 16px;
  }