
<link href="/SiteEngine/Site/layouts/Iwith.org/HeaderMenu/HeaderMenu.css" rel="stylesheet">


<div id="topMenu">
    <ul id="mainMenu" >
      
      <li><span>{menuItem}</span></li>
      <li><span>{menuItem}</span></li>
                
      <!--<li><span>Inicio</span></li>
        <li>
          <span>Organización</span>
        </li>
        <li>
          <span>Servicios</span>
        </li>
        <li>
          <span>Actualidad</span>
        </li>-->

    </ul>
      <div id="searchElem">
          <input id="searchInput" class="" type="text" value="Buscar">
      </div>

      <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Idioma
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something elsex here</a></li>
              <li><a href="#">Separated link</a></li>
          </ul>
      </div>

  </div>

<script id="templMenuItem" type="text/template">
  <li itemId="<%= id %>" templateId="<%= templateId %>"><span><%= name %></span></li>
</script>

<script id="templOrganizationContent" type="text/template">
  
  <div id="info">
    <div id="title">
      <span><%= title %></span>
    </div>
    <div id="content">
      <div id="textArea">
        <span><%= content %></span>
      </div>

      <div id="imgArea" >
	      <img alt="Voluntarios en la oficina de iWith.org" class="img-polaroid " src="<%= imgPath %>" >
      </div>
    </div>
  </div>

</script>
