#layoutForm {
  width: 500px; 
  height: 400px;
  background-color: white;
}
#layoutForm #formContent {
  padding: 10px 10px;
}
#layoutForm .dvHeader {
  display: inline-block;
  width: 75px;
}

#layoutForm .dvControl {
  display: inline-block;
}

#layoutForm #formContent .dropdown-menu {
  margin: 0;
}

#layoutForm #formContent .btn-default {
  width: 250px;
  height: 30px;
  text-align: left;
}
#layoutForm #formContent .btn-default .caret {
  float: right;
}

#layoutForm #formContent .dvTreeGrid {
  padding: 0;
  overflow: auto;
  min-height: 200px;
  max-height: 250px;
  min-width: 300px;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);  
}

#layoutForm #sublayouts {
  border: 2px solid red;
  margin-top: 15px;  
}
#layoutForm #sublayouts .dvPlaceholder {
  width: 100%;
  margin: 10px 0px;  
}
#layoutForm #sublayouts .dvPlaceholder .dvKey {
  display: inline-block;
  width: 75px;  
}
#layoutForm #sublayouts .dvPlaceholder .inputPlaceHolder {
  display: inline-block;
  width: 250px;  
}
#layoutForm #sublayouts .dvSublayout {
  margin-bottom: 10px;
}
#layoutForm #sublayouts #addSubLayout {
  margin-top: 10px;
}
#layoutForm #sublayouts #subLayoutsList {
  min-height: 100px;
  border: 1px solid green;
  margin: 20px 0px;
  overflow: auto;
  height: 170px;
}
#subLayoutsList .dvSubLayoutItem {
  border: 2px solid red;
  min-height: 40px;
  margin: 10px 10px;  
  display: block;
}
#subLayoutsList .dvSubLayoutItem .dvItemName {
  padding: 10px;
  display: inline-block;
  float: left;
}
#subLayoutsList .dvSubLayoutItem .dvItemRemove {
  padding: 10px;
  display: inline-block;
  float: right;  
}
#subLayoutsList .dvSubLayoutItem .dvItemRemove img {
  margin-right: 5px;
  width: 13px;
  height: 13px;
  padding-bottom: 1px;  
}